<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <div id="app">
    firstName:<input type="text" v-model="firstName">
    <br>
    lastName: <input type="text" v-model="lastName">
    <br>
    <h1>{{fillName}}</h1>
  </div>
</body>
<script src="./vue.js"></script>
<script>
  const app = new Vue({
    el:"#app",
    data:{
      firstName:"",
      lastName:""
    },
    computed:{
      fillName(){
        return this.firstName + this.lastName
      }
    }
  })
</script>
</html>